<html class="h-full bg-bluey-800">
<%- include('../components/head') %>
<body style="font-family: 'Whitney', sans-serif;" class="bg-bluey-800 h-full">

<div>
  <%- include('../components/navigation') %>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
<div class="pb-8">
  <div>
    <img class="h-32 w-full object-cover lg:h-48 rounded-lg" src="https://i.imgur.com/j9BodUY.jpeg" alt="">
  </div>
  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
      <div class="flex">
        <img class="h-24 w-24 rounded-full ring-4 ring-bluey-800 sm:h-32 sm:w-32" src="https://cdn.discordapp.com/avatars/<%= req.session.userinfo.id%>/<%= req.session.userinfo.avatar%>.jpg?size=1024" alt="">
      </div>
      <div class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
        <div class="sm:hidden md:block mt-6 min-w-0 flex-1">
          <h1 class="text-2xl font-bold text-white truncate"><%= req.session.userinfo.username%></h1>
        </div>
<div class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4">
          <a href="/cp/panel" type="button" class="inline-flex justify-center px-4 py-2 border border-bluey-600 shadow-sm text-sm font-medium rounded-md text-bluey-300 bg-bluey-700 hover:bg-bluey-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-bluey-600">
            <span>Go to Panel</span>
          </a>
        </div>
      </div>
    </div>
    <div class="hidden sm:block md:hidden mt-6 min-w-0 flex-1">
      <h1 class="text-2xl font-bold text-white truncate"><%= req.session.userinfo.username%></h1>
    </div>
  </div>
</div>
<% if (req.session.password) { %>
<div class="rounded-md bg-green-800 p-4 mb-8">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: solid/information-circle -->
      <svg class="h-5 w-5 text-green-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3 flex-1 md:flex md:justify-between">
      <p class="text-sm text-green-400">Password updated to: <code><%= req.session.password %></code></p>
    </div>
  </div>
</div>
<% } %>
<div class="bg-bluey-700 px-4 py-5 border-b border-bluey-600 rounded-t sm:px-6">
  <h3 class="text-lg leading-6 font-medium text-white">Panel credentials</h3>
  <p class="mt-1 text-sm text-bluey-300">Credentials for accessing the <%= settings.name %> control panel.</p>
</div>
<div class="bg-bluey-700 rounded-b px-4 py-5 sm:px-6">
    <dl>
      <div class="bg-transparent px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-white">Username</dt>
        <dd class="mt-1 text-sm text-bluey-300 sm:col-span-2 sm:mt-0"><%= req.session.userinfo.id %></dd>
      </div>
      <div class="bg-transparent px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-white">Email</dt>
        <dd class="mt-1 text-sm text-bluey-300 sm:col-span-2 sm:mt-0"><%= req.session.userinfo.email %></dd>
      </div>
      <% if (req.session.password) { %>
      <div class="bg-transparent px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-white">Password</dt>
        <dd class="mt-1 text-sm text-bluey-300 sm:col-span-2 sm:mt-0"><%= req.session.password %></dd>
      </div>
      <% } else { %>
        <a href="/cp/regen" onclick="submitForm()" class="transition ease-in-out delay-100 group relative flex w-1/3 justify-center rounded-md border border-transparent bg-bluey-600 py-2 px-4 text-sm font-medium text-white hover:bg-bluey-500 focus:outline-none">
          Show/Reset Password
        </a>
        <% } %>
    </dl>
</div>
</div>
</main>
</div>