<html class="h-full bg-bluey-800">
<%- include('../components/head') %>
<body style="font-family: 'Whitney', sans-serif;" class="bg-bluey-800 h-full">

<div>
  <%- include('../components/navigation') %>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
<% if (req.session.password) { %>
<div class="rounded-md bg-green-800 p-4 mb-8">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: solid/information-circle -->
      <svg class="h-5 w-5 text-green-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3 flex-1 md:flex md:justify-between">
      <p class="text-sm text-green-400">Password updated to: <code><%= req.session.password %></code></p>
    </div>
  </div>
</div>
<% } %>
<div class="bg-bluey-700 px-4 py-5 border-b border-bluey-600 rounded-t sm:px-6">
<div class="sm:flex sm:items-start sm:justify-between">
      <div>
  <h3 class="text-lg leading-6 font-medium text-white">Edit server</h3>
  <p class="mt-1 text-sm text-bluey-300">If you would like to control the server, run actions, edit files, etc then use the Panel. The link & credentials are on the Account page.</p>
      </div>
      <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
        <a href="/cp/delete?id=<%= req.query.id %>" type="button" class="ml-2 inline-flex items-center px-4 py-2 border border-bluey-500 shadow-sm font-medium rounded-md text-red-500 bg-bluey-600 cursor-default sm:text-sm">Delete Server</a>
      </div>
    </div>
</div>
<div class="bg-bluey-700 rounded-b px-4 py-5 sm:px-6 text-bluey-300 text-sm">
        <%
            let ram = 0;
            let disk = 0;
            let cpu = 0;
            let servers = pterodactyl.relationships.servers.data.length;
            for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
                ram = ram + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0);
                disk = disk + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0);
                cpu = cpu + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0);
            }
        %>
                                    <% if (req.query.id) { %>
                                        <% if (pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id).length == 1) {
                                            let serverinfo = pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id)[0];
                                            let attemptegg = null;
                                            let attemptname = null;
                                            for (let [name, value] of Object.entries(settings.api.client.eggs)) {
                                                if (settings.api.client.eggs[name].info.egg == serverinfo.attributes.egg) {
                                                    attemptegg = settings.api.client.eggs[name];
                                                    attemptname = name;
                                                };
                                            };
                                            let egginfo = attemptegg ? attemptegg.display : "???";
                                        %>
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label for="company-website" class="block text-sm font-medium text-bluey-400">RAM (GB)</label>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input type="text" name="company-website" id="ram" class="transition ease-in-out delay-100 block w-full flex-1 text-white rounded-md bg-bluey-600 border-bluey-500 focus:border-blue-400 focus:ring-blue-400 sm:text-sm" placeholder="<%= (packages ? packages.ram : 0)/1024 + extraresources.ram/1024 - ram/1024 + serverinfo.attributes.limits.memory/1024 %>" value="<%= (packages ? packages.ram : 0)/1024 + extraresources.ram/1024 - ram/1024 + serverinfo.attributes.limits.memory/1024 %>">
                </div>
              </div>
            </div><br>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label for="company-website" class="block text-sm font-medium text-bluey-400">CPU (%)</label>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input type="text" name="company-website" id="cpu" class="transition ease-in-out delay-100 block w-full flex-1 text-white rounded-md bg-bluey-600 border-bluey-500 focus:border-blue-400 focus:ring-blue-400 sm:text-sm" value="<%= (packages ? packages.cpu : 0) + extraresources.cpu - cpu + serverinfo.attributes.limits.cpu %>" placeholder="<%= (packages ? packages.cpu : 0) + extraresources.cpu - cpu + serverinfo.attributes.limits.cpu %>">
                </div>
              </div>
            </div><br>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label for="company-website" class="block text-sm font-medium text-bluey-400">Disk (GB)</label>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input type="text" name="company-website" id="disk" class="transition ease-in-out delay-100 block w-full flex-1 text-white rounded-md bg-bluey-600 border-bluey-500 focus:border-blue-400 focus:ring-blue-400 sm:text-sm" placeholder="<%= (packages ? packages.disk : 0)/1024 + extraresources.disk/1024 - disk/1024 + serverinfo.attributes.limits.disk/1024 %>" value="<%= (packages ? packages.disk : 0)/1024 + extraresources.disk/1024 - disk/1024 + serverinfo.attributes.limits.disk/1024 %>">
                </div>
              </div>
            </div><br><br>
        <button onclick="submitForm()" class="transition ease-in-out delay-100 group relative flex w-auto justify-center rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white hover:bg-blue-700 focus:outline-none">
          Apply Changes
        </button>
                                            </div>
                                            <script>
                                                async function submitForm() {
                                                    let ram = encodeURIComponent(document.getElementById("ram").value);
                                                    let disk = encodeURIComponent(document.getElementById("disk").value);
                                                    let cpu = encodeURIComponent(document.getElementById("cpu").value);
                                                    document.location.href = `/cp/modify?id=<%= req.query.id %>&ram=${ram*1024}&disk=${disk*1024}&cpu=${cpu*100}`;
                                                };
                                            </script>
                                        <% } else { %>
                                            <p class="text-white">Could not find server with the provided ID.</p>
                                        <% } %>
                                    <% } else { %>
                                        <p class="text-white">Missing server ID.</p>
                                    <% } %>
</div>
      <!-- /End replace -->
    </div>
  </main>
</div>